<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
</head>
<body>
<h1><B>DELETE OPERATION</B></h1>
{% block content %}
<form action="delete" method="post" autocomplete="off">
    {% csrf_token %}
    Enter filepath :<input type="text" name="filename" placeholder="with extention"><br>
    Enter key:<input type="text" name="key" placeholder="type '_all' to delete all keys">[use',' to more than one key]<br>
    <input type="submit" value="delete">
</form>
{% endblock %}
</body>
</html>